*.pyc
*.vim
calculate_atomic_densities.ipynb
check_density_consistency.ipynb
check_grid_consistency.ipynb
compare_densities.ipynb
dendrimer_pyscf_calc.ipynb
density_error_experiments.ipynb
density_fitting_coeffs.ipynb
density_fitting_test.ipynb
density_functional_water_test.ipynb
dftpy_density_functional.ipynb
dftpy_water_calc.ipynb
EP_H2 Experiments Loading Data and Training a Model.ipynb
EP_H2 experiments to recreate.ipynb
ethanethiol_calc.ipynb
ethanethiol_density_fitting.ipynb
ethanol_10_pyscf_calc.ipynb
ethanol_compare_initial_coeffs.ipynb
ethanol_density_fitting.ipynb
ethanol_initial_coeffs.ipynb
ethanol_pyscf_calc.ipynb
ethanol_pyscf_test.ipynb
evaluate_atomic_densities.ipynb
extract_orbital_coeffs_libcint_bak.ipynb
extract_orbital_coeffs_libcint.ipynb
extract_orbital_coeffs.ipynb
Final_ORCA_to_PySCF_reordering.ipynb
get_orbital_gradients.ipynb
GTO_integrals.ipynb
calculate_atomic_densities.ipynb
.ipynb_checkpoints/calculate_atomic_densities-checkpoint.ipynb
.ipynb_checkpoints/Density calc compare ORCA and pyscf-checkpoint.ipynb
.ipynb_checkpoints/EP_H2 experiments to recreate-checkpoint.ipynb
.ipynb_checkpoints/Final_ORCA_to_PySCF_reordering-checkpoint.ipynb
.ipynb_checkpoints/ForTestingGSchnet_Debugging-checkpoint.ipynb
.ipynb_checkpoints/H2_experiments-checkpoint.ipynb
.ipynb_checkpoints/Hydrogen_dm in MO basis-checkpoint.ipynb
.ipynb_checkpoints/Notebook for Testing cG-Schnet with added QMugs class and data preparation-checkpoint.ipynb
.ipynb_checkpoints/OLD_orbital conversion-checkpoint.ipynb
.ipynb_checkpoints/Second Part Testing-checkpoint.ipynb
.ipynb_checkpoints/Untitled1-checkpoint.ipynb
.ipynb_checkpoints/water_dimer_setup-checkpoint.ipynb
.ipynb_checkpoints/water_pyscf_calc-checkpoint.ipynb
.ipynb_checkpoints/water_pyscf_calc-EP-checkpoint.ipynb
src/equiv_dens/compare_pyscf_orca.py
.ipynb_checkpoints/calculate_atomic_densities-checkpoint.ipynb
.ipynb_checkpoints/EP_H2 experiments to recreate-checkpoint.ipynb
datasets/C_augccpvdz_calc_df_augccpvdzjkfit.npy
datasets/C_augccpvdz.npy
datasets/H_augccpvdz_calc_df_augccpvdzjkfit.npy
datasets/H_augccpvdz.npy
datasets/h2o_dynamic_pyscf_def2svp_dft_f.npy
datasets/N_augccpvdz_calc_df_augccpvdzjkfit.npy
datasets/N_augccpvdz.npy
datasets/O_augccpvdz_calc_df_augccpvdzjkfit.npy
datasets/O_augccpvdz.npy
datasets/S_augccpvdz_calc_df_augccpvdzjkfit.npy
datasets/S_augccpvdz.npy
equiv_dens_ml_notebooks/Density calc compare ORCA and pyscf.ipynb
equiv_dens_ml_notebooks/DFT - Tutorial - Part 2.ipynb
equiv_dens_ml_notebooks/DFT - Tutorial Part 3.ipynb
equiv_dens_ml_notebooks/DFT - Tutorial.ipynb
equiv_dens_ml_notebooks/DFT_compare_pyscf_orca_output_densitycalculation.ipynb
equiv_dens_ml_notebooks/ForTestingGSchnet_Debugging.ipynb
equiv_dens_ml_notebooks/H2_experiments.ipynb
equiv_dens_ml_notebooks/Hydrogen_dm in MO basis.ipynb
equiv_dens_ml_notebooks/internal_normalization.ipynb
equiv_dens_ml_notebooks/match_pyscf_df_coeffs.ipynb
equiv_dens_ml_notebooks/multiple_radial_coeffs_test.ipynb
equiv_dens_ml_notebooks/Notebook for Testing cG-Schnet with added QMugs class and data preparation.ipynb
equiv_dens_ml_notebooks/OLD_orbital conversion.ipynb
equiv_dens_ml_notebooks/orbital_coeffs_convention.ipynb
equiv_dens_ml_notebooks/orbital_coeffs_experiments.ipynb
equiv_dens_ml_notebooks/partial_density_experiments.ipynb
equiv_dens_ml_notebooks/Plotting electron density from cube file.ipynb
equiv_dens_ml_notebooks/resorcinol_calc.ipynb
equiv_dens_ml_notebooks/resorcinol_density_fitting.ipynb
equiv_dens_ml_notebooks/rotated_alanine_test.ipynb
equiv_dens_ml_notebooks/save_atomic_densities.ipynb
equiv_dens_ml_notebooks/schnetpack_md_ir_spectra_res.ipynb
equiv_dens_ml_notebooks/schnetpack_md_ir_spectra.ipynb
equiv_dens_ml_notebooks/Second Part Testing.ipynb
equiv_dens_ml_notebooks/simple_water_test.ipynb
equiv_dens_ml_notebooks/test_density_equivariance.py.ipynb
equiv_dens_ml_notebooks/test_huziel_calc_format.ipynb
equiv_dens_ml_notebooks/test_wavefunction_expansion.ipynb
equiv_dens_ml_notebooks/thiophene_calc.ipynb
equiv_dens_ml_notebooks/thiophene_check_calc.ipynb
equiv_dens_ml_notebooks/Untitled1.ipynb
equiv_dens_ml_notebooks/Untitled4.ipynb
equiv_dens_ml_notebooks/water_dimer_density_test.ipynb
equiv_dens_ml_notebooks/water_dimer_setup.ipynb
equiv_dens_ml_notebooks/water_pyscf_calc-EP.ipynb
equiv_dens_ml_notebooks/water_pyscf_calc.ipynb
.gitignore
data/atoms_H20_for_equi_R_Z.npz
data/bayer_test.npz
data/ethanol_pyscf_def2svp_dft_f_df_augccpvqzjkfit_train.npy
data/small_mol_testdata_orca.npz
data/small_mol_testdata_pyscf.npz
data/small_mol_testdata.npz
datasets/C_augccpvdz_calc_df_augccpvdzjkfit.npy
equiv_dens_ml_notebooks/.ipynb_checkpoints/DFT - Tutorial - Part 2-checkpoint.ipynb
equiv_dens_ml_notebooks/Density calc compare ORCA and pyscf.ipynb
equiv_dens_ml_notebooks/.ipynb_checkpoints/DFT - Tutorial Part 3-checkpoint.ipynb
equiv_dens_ml_notebooks/.ipynb_checkpoints/DFT - Tutorial-checkpoint.ipynb
.ipynb_checkpoints/EP_H2 experiments to recreate-checkpoint.ipynb
calculate_atomic_densities.ipynb
check_density_consistency.ipynb
check_grid_consistency.ipynb
compare_densities.ipynb
dendrimer_pyscf_calc.ipynb
density_error_experiments.ipynb
density_fitting_coeffs.ipynb
density_fitting_test.ipynb
density_functional_water_test.ipynb
dftpy_density_functional.ipynb
dftpy_water_calc.ipynb
EP_H2 Experiments Loading Data and Training a Model.ipynb
EP_H2 experiments to recreate.ipynb
ethanethiol_calc.ipynb
ethanethiol_density_fitting.ipynb
ethanol_10_pyscf_calc.ipynb
ethanol_compare_initial_coeffs.ipynb
ethanol_density_fitting.ipynb
ethanol_initial_coeffs.ipynb
ethanol_pyscf_calc.ipynb
ethanol_pyscf_test.ipynb
evaluate_atomic_densities.ipynb
extract_orbital_coeffs_libcint_bak.ipynb
extract_orbital_coeffs_libcint.ipynb
extract_orbital_coeffs.ipynb
get_orbital_gradients.ipynb
GTO_integrals.ipynb
h2_dft_f_test.txt
H2_experiments.ipynb
H2O_basic_test.npy
H2O_basic_train.npy
H2O_basic_valid.npy
H2O_pyscf_def2svp_dft_augccpvdzjkfit_auxbasis_test.npy
H2O_pyscf_def2svp_dft_augccpvdzjkfit_auxbasis_train.npy
H2O_pyscf_def2svp_dft_augccpvdzjkfit_auxbasis_valid.npy
internal_normalization.ipynb
match_pyscf_df_coeffs.ipynb
multiple_radial_coeffs_test.ipynb
orbital_coeffs_convention.ipynb
orbital_coeffs_experiments.ipynb
partial_density_experiments.ipynb
resorcinol_calc.ipynb
resorcinol_density_fitting.ipynb
rotated_alanine_test.ipynb
save_atomic_densities.ipynb
schnetpack_md_ir_spectra_res.ipynb
schnetpack_md_ir_spectra.ipynb
simple_water_test.ipynb
test_density_equivariance.py.ipynb
test_huziel_calc_format.ipynb
test_wavefunction_expansion.ipynb
thiophene_calc.ipynb
thiophene_check_calc.ipynb
water_dimer_density_test.ipynb
water_dimer_setup.ipynb
water_pyscf_calc.ipynb
Prepare_bayer_ai_data.ipynb
test_prepare_data.hdf5
test_prepare_data.npy
equiv_dens_ml_notebooks/.ipynb_checkpoints/Second Part Testing-checkpoint.ipynb
.ipynb_checkpoints/Prepare_bayer_ai_data-checkpoint.ipynb
src/equiv_dens/.vscode/launch.json
src/equiv_dens/.vscode/launch.json
src/equiv_dens/EP_only_tmp_test.py
src/equiv_dens/scripts/cluster_convert_data.py
src/equiv_dens/syn_cluster.sh
